---
import { SCORE_API_ENDPOINT } from "astro:env/server";

const res = await fetch(SCORE_API_ENDPOINT)
const scrolValue = await res.text()
---

<span class="text-xs" id="score">
    ⭐️ Punutuacion: {scrolValue.trim()}/5
</span>